#filepath: /d:/dev/WWW/lc-crm-service/.gitignore
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
lcenv/
venv/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
staticfiles/
docs/
/media/
config/local_settings.py

# Node
node_modules/
npm-debug.log
yarn-error.log

# VS Code
.vscode/
.github/

#frontend
vite/
fonrtend/

