{% load static %}
<script>
  window.CURRENT_USER_DATA = {
    username: "{{ request.user.username }}",
    email: "{{ request.user.email }}",
    first_name: "{{ request.user.first_name }}",
    last_name: "{{ request.user.last_name }}",
    profile: {
      name: "{{ request.user.profile.name }}",
      phone: "{{ request.user.profile.phone }}",
      is_admin: {{ request.user.profile.is_admin|yesno:"true,false" }},
      is_designer: {{ request.user.profile.is_designer|yesno:"true,false" }},
      is_project_manager: {{ request.user.profile.is_project_manager|yesno:"true,false" }},
      can_request_payment: {{ request.user.profile.can_request_payment|yesno:"true,false" }}
    },
    id: "{{ request.user.id }}",
  };

</script>

<div id="app_header" class="app-header bg-white">
  <!--begin::Header container-->
  <div class="app-container container-fluid d-flex align-items-stretch flex-stack" id="app_header_container">
    <!--begin::Sidebar toggle-->
    
    <div class="d-flex align-items-center d-block d-lg-none ms-n3" title="Show sidebar menu">
      <div class="btn btn-icon btn-active-color-primary w-35px h-35px me-2" id="app_sidebar_mobile_toggle">
        <i class="ki-outline ki-abstract-14 fs-2"></i>
      </div>
      <!--begin::Logo image-->
      <a href="{% url 'index' %}">
        <img alt="Logo" src="{% static 'crm/media/logos/lylogo2.svg' %}"
          class="h-25px d-none d-sm-inline app-sidebar-logo-default theme-light-show" />
      </a>
      <!--end::Logo image-->
    </div>
    <!--end::Sidebar toggle-->
    <!--begin::Navbar-->
    <div class="app-navbar flex-lg-grow-1" id="app_header_navbar">
      <div id="app_breadcrumb" class="app-navbar-item d-flex align-items-stretch flex-lg-grow-1">
        <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
          <h1 v-if="currentSubmenu" class="page-heading justify-content-center text-gray-900 fw-bold fs-3 m-0">
            [[ currentSubmenu.title ]]
          </h1>
          <ol class="breadcrumb text-muted fs-6 fw-semibold">
            <li class="breadcrumb-item">
              <a href="{% url 'index' %}" class="text-muted text-hover-primary">首頁</a>
            </li>
            <li v-if="currentMenu" class="breadcrumb-item text-muted">
              <span v-if="currentMenu.url" class="text-muted">
                <a :href="currentMenu.url" class="text-muted text-hover-primary">[[ currentMenu.title ]]</a>
              </span>
              <span v-else class="text-muted">[[ currentMenu.title ]]</span>
            </li>
            <li v-if="currentSubmenu" class="breadcrumb-item text-muted">[[ currentSubmenu.title ]]</li>
          </ol>
        </div>
      </div>
      <div class="app-navbar-item d-flex align-items-stretch flex-lg-grow-1"></div>
      <!--begin::User menu-->
      <div class="app-navbar-item ms-1 ms-md-3" id="kt_header_user_menu_toggle">
        <!--begin::Menu wrapper-->
        <div class="cursor-pointer symbol symbol-circle symbol-35px symbol-md-45px d-flex align-items-center gap-2"
          data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent"
          data-kt-menu-placement="bottom-end">
          <i class="ki-duotone ki-profile-circle fs-2x">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </i>
          <div class="fs-6 fw-medium align-items-center fs-6">
            [[ user.profile.name ]]
          </div>
        </div>
        <!--begin::User account menu-->
        <div
          class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px"
          data-kt-menu="true">
          <!--begin::Menu item-->
          <div class="menu-item px-3">
            <div class="menu-content d-flex align-items-center px-3">
              <!--begin::Avatar-->
              <div class="symbol symbol-50px me-5">
                <i class="ki-duotone ki-profile-circle fs-3x">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </i>
              </div>
              <!--end::Avatar-->
              <!--begin::Username-->
              <div class="d-flex flex-column">
                <div class="fw-bold align-items-center fs-5">
                  [[ user.profile.name ]]
                </div>
                <span class="fw-semibold text-muted fs-7">@[[ user.username ]]</span>
                <span class="fw-semibold text-muted fs-8">[[ user.email ]]</span>
                <div class="d-flex flex-wrap gap-2 mt-3">
                    <div v-for="(role, key) in getRoles(user.profile)"
                    class="badge"
                    :class="getRoleBadgeClass(role)"
                    :key="key">[[ role ]]</div>
                  </div>
              </div>
              <!--end::Username-->
            </div>
          </div>
          <!--end::Menu item-->
          <!--begin::Menu separator-->
          <div class="separator my-2"></div>
          <!--end::Menu separator-->
          <!--begin::Menu item-->
          
          <div class="menu-item px-5">
            <a href="{% url 'user_profile' %}" class="menu-link px-5">我的個人檔案</a>
          </div>
          <!--end::Menu item-->          <!--begin::Menu item-->
          <div class="menu-item px-5">
            <a :href="`/users/${user.id}/projects/`" class="menu-link px-5">
              <span class="menu-text">我的專案</span>
              <span class="menu-badge" v-if="projectCount > 0">
                <span class="badge badge-light-danger badge-circle fw-bold fs-7">[[ projectCount ]]</span>
              </span>
            </a>
          </div>
          <!--end::Menu item-->
          
          <!--begin::Menu separator-->
          <div class="separator my-2"></div>
          <!--end::Menu separator-->
          
          <!--begin::Menu item-->
          <div class="menu-item px-5 my-1">
            <a href="{% url 'user_profile' %}?action=edit" class="menu-link px-5">帳戶設定</a>
          </div>
          <!--end::Menu item-->
          <!--begin::Menu item-->
          <div class="menu-item px-5">
            <a href="/logout/" class="menu-link px-5">登出</a>
          </div>
          <!--end::Menu item-->
        </div>
        <!--end::User account menu-->
        <!--end::Menu wrapper-->
      </div>
      <!--end::User menu-->
    </div>
    <!--end::Navbar-->
    <!--begin::Separator-->
    <div class="app-navbar-separator separator d-none d-lg-flex"></div>
    <!--end::Separator-->
  </div>
  <!--end::Header container-->
</div>

<script>
  const userMenuApp = Vue.createApp({
    delimiters: ["[[", "]]"],
    data() {
      return {
        user: window.CURRENT_USER_DATA,
        projectCount: 0
      };
    },
    methods: {
      getRoles(profile) {
        let roles = [];
        if (profile.is_admin) roles.push("管理員");
        if (profile.is_designer) roles.push("設計師");
        if (profile.is_project_manager) roles.push("專案負責人");
        if (profile.can_request_payment) roles.push("請款");
        return roles;
      },
      getRoleBadgeClass(role) {
        if (role == "管理員") return "badge-danger";
        if (role == "設計師") return "badge-success";
        if (role == "專案負責人") return "badge-primary";
        if (role == "請款") return "badge-warning";
        return "badge-light-warning";
      },
    },
    mounted() {      // 獲取使用者相關的專案數量
      fetch(`/crm/api/projects/?format=json&page=1&page_size=10&manager=${this.user.id}`)
        .then(response => response.json())
        .then(data => {
          this.projectCount = data.count;
        });
    }
  }).mount("#kt_header_user_menu_toggle");
</script>


<style>
  #app_header {
    border-bottom-width: 2px !important;
    border-color: rgba(165, 165, 165, 1) !important;
    border-bottom-style: solid;
  }
</style>
