{% load static %}
<!-- 全局 JS 檔案 -->
<script src="{% static 'crm/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'crm/js/scripts.bundle.js' %}"></script>

<!-- 頁面專用 JS 檔案 -->
<script src="{% static 'crm/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<script src="{% static 'crm/plugins/custom/datatables/datatables.bundle.js' %}"></script>

<!-- 應用程式初始化 -->
<script src="{% static 'crm/js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'crm/js/widgets.bundle.js' %}"></script>
<script src="{% static 'crm/js/custom/widgets.js' %}"></script>
<script src="{% static 'crm/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
