{% extends "crm/base.html" %}
{% load static %}
{% block content %}
  <div class="app-main flex-column flex-row-fluid" id="app_main">
    <div id="app_toolbar" class="app-toolbar ms-auto">
      <div id="app_toolbar_container" class="d-flex align-items-stretch w-100">
        <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap justify-content-end gap-4 w-100">
          <button class="btn btn-primary" @click.prevent="showAddUserModal">新增使用者</button>
        </div>
      </div>
    </div>
    <div id="app_content" class="app-content flex-column-fluid">
      <div id="app_content_container">
        <div class="d-flex flex-column flex-column-fluid">
          <div class="card card-flush" id="users_list">
            <div class="card-header align-items-center py-5 gap-2 gap-md-5">
              <div class="card-title w-100 gap-2 d-flex">
                <div class="d-flex align-items-center position-relative my-1">
                  <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
                  <input type="text"
                         v-model="searchQuery"
                         class="form-control form-control-solid w-250px ps-12"
                         placeholder="搜尋姓名/email/電話" 
                         @keyup.enter="fetchUsers()" ref="searchInput"/>
                </div>
                <div class="d-flex gap-2 position-relative my-1">
                  <div class="w-200 mw-150px">
                    <select class="form-select" v-model="roleFilter" data-placeholder="所有角色">
                      <option></option>
                      <option value="all">所有角色</option>
                      <option value="is_admin">管理員</option>
                      <option value="is_project_manager">專案負責人</option>
                    </select>
                  </div>
                  <button class="btn btn-light" @click="fetchUsers()">搜尋</button>
                </div>
                <div class="d-flex align-items-center ms-auto gap-2">
                  <span class="text-muted fs-6">每頁顯示</span>
                  <select class="form-select form-select-sm w-75px"
                          v-model.number="pageSize"
                          @change="pageSizeChanged">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
              </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
              <div v-if="isLoading" class="d-flex justify-content-center py-10">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">載入中...</span>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table align-middle table-row-dashed table-hover table-striped fs-6 gy-5 gs-7">
                  <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                      <th class="min-w-200px">使用者</th>
                      <th class="min-w-100px">電話</th>
                      <th class="min-w-100px">角色</th>
                      <th class="min-w-100px">創建時間</th>
                      <th class="text-end min-w-70px">操作</th>
                    </tr>
                  </thead>
                  <tbody class="fw-semibold text-gray-600">
                    <tr v-for="user in users" :key="user.id">
                      <td>
                        <a @click.prevent="editUser(user)"
                           class="text-gray-800 text-hover-primary fs-5 fw-bold hover-underline cursor-pointer">[[ user.profile.name || user.username ]]</a>
                        <div class="text-muted">[[ user.email ]]</div>
                      </td>
                      <td>
                        <span class="fw-bold">[[ user.profile.phone ]]</span>
                      </td>
                      <td>
                        <div class="d-flex flex-wrap gap-2">
                          <div v-for="(role, key) in getRoles(user.profile)"
                               class="badge"
                               :class="getRoleBadgeClass(role)"
                               :key="key">[[ role ]]</div>
                        </div>
                      </td>
                      <td>[[ formatDate(user.profile.created_at) ]]</td>
                      <td class="text-end">
                        <button class="btn btn-icon btn-sm btn-secondary btn-active-light-primary"
                          @click="toggleMenu(user.id)">
                          <i class="ki-outline ki-down fs-5"></i>
                        </button>
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4"
                          data-kt-menu="true"
                          :style="getMenuStyle(user.id)"
                          :class="{'show': activeMenu === user.id}">
                          <div class="menu-item px-3">
                            <a class="menu-link px-3" @click.prevent="editUser(user)">編輯資料</a>
                          </div>
                          <div class="menu-item px-3">
                            <a class="menu-link px-3" @click.prevent="editUser(user, true)">修改密碼</a>
                          </div>
                          <div class="menu-item px-3" v-if="currentUser.profile && currentUser.profile.is_admin === 'true'">
                            <a class="menu-link px-3 text-primary" @click.prevent="impersonateUser(user)">以此身份登入</a>
                          </div>
                          <hr class="my-1" />
                          <div class="menu-item px-3">
                            <a class="menu-link px-3 text-danger" @click.prevent="deleteUser(user.id)">刪除</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- 分頁控制 -->
              <div class="d-flex justify-content-center align-items-center flex-wrap">
                <ul class="pagination">
                  <li class="page-item previous"
                      :class="currentPage === 1 ? 'disabled' : ''"
                      @click="currentPage > 1 && fetchUsers(currentPage - 1)">
                    <a href="#" class="page-link"><i class="previous"></i></a>
                  </li>
                  <template v-for="page in displayedPages" :key="page">
                    <li v-if="page === '...'" class="page-item disabled">
                      <span class="page-link">...</span>
                    </li>
                    <li v-else
                        class="page-item"
                        :class="currentPage === page ? 'active' : ''"
                        @click="fetchUsers(page)">
                      <a href="#" class="page-link">[[ page ]]</a>
                    </li>
                  </template>
                  <li class="page-item next"
                      :class="currentPage === totalPages ? 'disabled' : ''"
                      @click="currentPage < totalPages && fetchUsers(currentPage + 1)">
                    <a href="#" class="page-link"><i class="next"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            {% comment %} modal 新增使用者 {% endcomment %}
            <div class="modal fade"
                 tabindex="-1"
                 id="addUserModal"
                 aria-labelledby="addUserModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">[[ isEditMode ? '編輯使用者' : '新增使用者' ]][[ isEditPassword ? '密碼' : '']]</h5>
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                         @click="hideAddUserModal"
                         aria-label="Close">
                      <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                  </div>
                  <div class="modal-body">
                    <form @submit.prevent="submitUserForm" ref="userForm">
                      <div class="form-floating mb-7">
                        <input type="text"
                               class="form-control"
                               id="username"
                               v-model="newUser.username"
                               placeholder="使用者名稱"
                               :disabled="isEditPassword && isEditMode"
                               required ref="usernameInput" />
                        <label for="username">
                          使用者名稱<span class="text-danger">*</span>
                        </label>
                      </div>
                      <div v-if="!isEditMode || isEditPassword" class="form-floating mb-7">
                        <div class="position-relative">
                          <input :type="showPassword ? 'text' : 'password'"
                                 class="form-control"
                                 id="password"
                                 v-model="newUser.password"
                                 placeholder="密碼"
                                 autocomplete="new-password"
                                 spellcheck="false"
                                 data-1p-ignore
                                 data-lpignore="true"
                                 required
                                 minlength="8"
                                 title="密碼必須至少包含 8 個字符" />
                          <button type="button" 
                                  @click="showPassword = !showPassword"
                                  class="btn btn-icon position-absolute top-50 end-0 translate-middle-y me-3"
                                  style="border: none; background: none;">
                              <i :class="showPassword ? 'ki-outline ki-eye-slash fs-6' : 'ki-outline ki-eye fs-6'"></i>
                          </button>
                          <label for="password">
                            輸入密碼<span class="text-danger">*</span>
                          </label>
                        </div>
                      </div>
                      <div v-if="!isEditMode || isEditPassword" class="form-floating mb-7">
                        <div class="position-relative">
                          <input :type="showConfirmPassword ? 'text' : 'password'"
                                 class="form-control"
                                 id="passwordConfirm"
                                 v-model="newUser.passwordConfirm"
                                 autocomplete="new-password"
                                 spellcheck="false"
                                 data-1p-ignore
                                 data-lpignore="true"
                                 placeholder="確認密碼"
                                 required />
                          <button type="button" 
                                  @click="showConfirmPassword = !showConfirmPassword"
                                  class="btn btn-icon position-absolute top-50 end-0 translate-middle-y me-3"
                                  style="border: none; background: none;">
                              <i :class="showConfirmPassword ? 'ki-outline ki-eye-slash fs-6' : 'ki-outline ki-eye fs-6'"></i>
                          </button>
                          <label for="passwordConfirm">
                            確認密碼<span class="text-danger">*</span>
                          </label>
                        </div>
                        <div v-if="newUser.password && newUser.passwordConfirm && newUser.password !== newUser.passwordConfirm"
                             class="text-danger mt-2">密碼不一致</div>
                      </div>
                      <div v-if="!isEditMode || !isEditPassword" class="row">
                        <div class="col">
                          <div class="form-floating mb-7">
                            <input type="text"
                                   class="form-control"
                                   id="first_name"
                                   v-model="newUser.firstName"
                                   placeholder="姓"
                                   required />
                            <label for="first_name">姓<span class="text-danger">*</span></label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-floating mb-7">
                            <input type="text"
                                   class="form-control"
                                   id="last_name"
                                   v-model="newUser.lastName"
                                   placeholder="名"
                                   required />
                            <label for="last_name">名<span class="text-danger">*</span></label>
                          </div>
                        </div>
                      </div>
                      <div v-if="!isEditMode || !isEditPassword" class="row">
                        <div class="col">
                          <div class="form-floating mb-7">
                            <input type="text"
                                   class="form-control"
                                   id="phone"
                                   v-model="newUser.profile.phone"
                                   placeholder="電話號碼"
                                   required />
                            <label for="phone">電話<span class="text-danger">*</span></label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-floating mb-7">
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   v-model="newUser.email"
                                   placeholder="電子郵件"
                                   required />
                            <label for="email">電子郵件<span class="text-danger">*</span></label>
                          </div>
                        </div>
                      </div>
                      <div v-if="!isEditMode || !isEditPassword" class="mb-3">
                        <div class="mb-7">
                          <label class="form-label mb-4">角色</label>
                          <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   id="is_admin"
                                   v-model="newUser.profile.is_admin">
                            <label class="form-check-label" for="is_admin">管理員</label>
                          </div>
                        </div>
                        <div class="mb-7">
                          <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   id="can_request_payment"
                                   v-model="newUser.profile.can_request_payment">
                            <label class="form-check-label" for="can_request_payment">請款人員</label>
                          </div>
                        </div>
                        <div class="mb-7">
                          <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   id="is_project_manager"
                                   v-model="newUser.profile.is_project_manager">
                            <label class="form-check-label" for="is_project_manager">專案負責人</label>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" @click="hideAddUserModal">關閉</button>
                        <button type="submit" class="btn btn-primary">送出</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% comment %} end modal 新增使用者 {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
  <script>
    window.CURRENT_USER_DATA = {
      id: {{ request.user.id|default:'null' }},
      username: "{{ request.user.username|escapejs }}",
      profile: {
        is_admin: "{% if request.user.profile.is_admin %}true{% else %}false{% endif %}"
      }
    };
  </script>
  <script src="{% static 'users/js/users_list.js' %}"></script>
{% endblock extra_js %}
